



</div>


</div>


<footer>
  <div class="footer-content">
    <p class="text-center">Designed and Maintained By Department of Computer Science and Engineering </p>

    <p>Copyright&copy; ICETACS-2023  All rights reserved.</p>
  </div>
</footer>


<script>

const toggleBtn = document.querySelector('.toggle-btn');
const wrapper = document.querySelector('.wrapper');

toggleBtn.addEventListener('click', () => {
  wrapper.classList.toggle('active');
});


// java script changing heading element 
// Get a reference to the heading element
// const heading = document.getElementById("myHeading");

// Set an array of texts to cycle through
// const texts = ["Automation", "Communication", "Security"];

// Set an index to keep track of which text to show
// let index = 0;

// Set an interval to change the heading text every second
// let intervalId = setInterval(() => {
//   // Set the heading text to the current index of the texts array
//   heading.textContent = texts[index];
  
//   // Increment the index, or reset to 0 if at end of array
//   index = (index + 1) % texts.length;
// }, 1000);

// // Add a mouseover event listener to the heading element
// heading.addEventListener("mouseover", () => {
//   // Clear the interval to stop the text from changing
//   clearInterval(intervalId);
// });

// Add a mouseout event listener to the heading element
// heading.addEventListener("mouseout", () => {
//   // Set a new interval to resume changing the text
//   intervalId = setInterval(() => {
//     // Set the heading text to the current index of the texts array
//     heading.textContent = texts[index];
    
//     // Increment the index, or reset to 0 if at end of array
//     index = (index + 1) % texts.length;
//   }, 1000);
// });


var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}



// Get the nav element
var nav = document.querySelector('.nav');

// Get the offset position of the nav element
var navOffset = nav.offsetTop;

// Add a scroll event listener to the window
window.addEventListener('scroll', function() {
  // If the user has scrolled past the nav element, add the 'scrolled' class
  if (window.pageYOffset > navOffset) {
    nav.classList.add('scrolled');
  } else {
    nav.classList.remove('scrolled');
  }
});




</script>
</body>
</html>

