<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>International Conference on Emerging Trends in Automation, Communication and Security 2023.</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/styleforhome.css">
  <link rel="stylesheet" href="/css/header.css">


<link rel="preconnect" href="https://fonts.googleapis.com">

<!-- link of fontAwesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-q6nYSrVWvrzitJddhV9/knNvZjKFrAz8EYhUVMPf1zpy7gglQm8ORvx7V3qDW/d9IF7VZGd8W5l6Il5RfOmFJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<!-- 
  <div class="head">


	<div class="head1 text-center">

		<div class="collegelogo">
			<img src="/images/Collegelogo.jpg" class="text-center img-responsive" alt="">
		</div>
		<div class="Head-Lines">


			


		
		<h1><span class="red-text">International Conference</span> </h1>
		<h3>on</h3>
		<h2>Emerging Trends in</h2>
		<h1><span class="red-text">Automation</span> , <span class="red-text">Communication</span> , <span class="red-text">Security</span> 2023</h1>

		


		<section class="layout ">
			<div class="box1 text-center" >
				<p class="icons"><i  class="fa-regular fa-calendar-days "></i>
				</p>
				<h4>Date</h4>
				<p>20 & 21/07/2023</p>
				
				
			</div>
			<div class="box1 " >
				<p class="icons" ><i class="fa-sharp fa-solid fa-location-dot"></i></p>
				<h4 >Address</h4>
				<p>N.B.Navale Sinhgad College Of Engineering, Solapur</p>


			</div>
	
		  </section>

		
	</div>
</div>


	<div class="head2">
		<img src="/images/robo.png" class="text-center img-responsive" alt="">
	</div>

    
  </div> -->





  <nav>

      <div class="logo">
        <a class="College-name-web text-center" style="color: #EB455F;" href="#">N B Navale Sinhgad College of Engineering, Solapur</a>
		<a class="College-name-mobile text-center" style="color: red;" href="#">NBNSCOE</a>
	
      </div>





  
  </nav>
  <div class="img">
	<img src="/images/conference-back2.jpg" alt="">


	
    
  </div>
  <div class="center">
    <div class="title">International Conference</div>
    <div class="sub_title"> on Emerging Trends in</div>
	<div id="myHeading" class="title2"> Automation</div>

	<div class="data-add" style="display: flex; align-items: center; justify-content: space-around; ">

		<div class="date" style="width: 25%;">
			<p class="icons white" style="font-size: 2em;"><i  class="fa-regular fa-calendar-days "></i>
			</p>
			<h4 class="white bold font-1em">Date</h4>
			<p class="white bold font-1em" > 20/07/2023</p>
			<p class="white bold font-1em"> 21/07/2023</p>

		</div>
		<div class="address" style="width: 25%;" >
			<p class="icons white " style="font-size: 2em; "  ><i class="fa-sharp fa-solid fa-location-dot"></i></p>
				<h4 class="white bold font-1em "  >Address</h4>
				<p class="white bold font-1em" style="margin: 5%;">N.B.Navale Sinhgad College Of Engineering, Solapur</p>

		</div>
	</div>
	
  
  </div>













<hr>
<button class="toggle-btn">Menu</button>
<br>
<hr>
<br>


	<div class="left-column">
       
		<a  class="side-buttons" href="/"><div>
			<p class="icons white" style="font-size: 2em;"><i class="fa-solid fa-house"></i>
		</div>Home</a>

		<a  class="side-buttons" href="#about-college" onclick="scrollToSection('about-college')"><div>
<p class="icons white" style="font-size: 2em;"><i class="fa-solid fa-building-columns"></i>
		</div>About institute</a>
		<a  class="side-buttons" href="/about_department"><div>
			<p class="icons white" style="font-size: 2em;"><i class="fa-solid fa-apartment"></i>
		</div>About Department</a>
		<a  class="side-buttons" href="/conference-topics"><div>
			<p class="icons white" style="font-size: 2em;"><i class="fa-solid fa-list"></i>
		</div>Topics for Conference</a>
		<a  class="side-buttons" href="/registration-detail"><div>
			<p class="icons white" style="font-size: 2em;"><i class="fa-regular fa-address-card"></i>
		</div>Registration Details</a>
		<a  class="side-buttons" href="/important-dates"><div>
			<p class="icons white" style="font-size: 2em;"><i class="fa-sharp fa-regular fa-calendar-days"></i>
		</div>Important Dates</a>
		<a  class="side-buttons" href="/solapur"><div>
			<p class="icons white" style="font-size: 2em;"><i class="fa-sharp fa-solid fa-tree-city"></i>
		</div>About Solapur</a>
		<a  class="side-buttons" href="/how_to_reach"><div>
			<p class="icons white" style="font-size: 2em;"><i class="fa-solid fa-route"></i>
		</div>How to Reach</a>



      </div>
      <div class="right-column">
       <a  class="side-buttons" href="/commite"><div>
		<p class="icons white" style="font-size: 2em;"><i class="fa-solid fa-people-group"></i>

	   </div>Committee</a>
	   <a  class="side-buttons" href="/speakers"><div>
		<p class="icons white" style="font-size: 2em;"><i class="fa-solid fa-route"></i>
	   </div>Keynote Speakers / Invited Speakers
	   </a>
	   <a  class="side-buttons" href="/about"><div>
		<p class="icons white" style="font-size: 2em;"><i class="fa-solid fa-route"></i>
	   </div>Programme</a>
	   <a  class="side-buttons" href="/about"><div>
		<p class="icons white" style="font-size: 2em;"><i class="fa-solid fa-book-open-cover"></i>
	   </div>Publication</a>
	   <a  class="side-buttons" href="/about"><div>
		<p class="icons white" style="font-size: 2em;"><i class="fa-solid fa-download"></i>
	   </div>Downloads</a>
	   <a  class="side-buttons" href="/about"><div>
		<p class="icons white" style="font-size: 2em;"><i class="fa-sharp fa-regular fa-location-dot"></i>
	   </div>VENUE</a>
	   <a  class="side-buttons" href="/about"><div>
		<p class="icons white" style="font-size: 2em;"><i class="fa-light fa-image"></i>
	   </div>Photo Gallery</a>
	   <a  class="side-buttons" href="/about"><div>
		<p class="icons white" style="font-size: 2em;"><i class="fa-solid fa-person-booth"></i>
	   </div>Accommodation</a>
	   <a  class="side-buttons" href="/about"><div>
		<p class="icons white" style="font-size: 2em;"><i class="fa-solid fa-address-book"></i>
	   </div>Contacts</a>
      </div>




	  <div class="wrapper">
		<nav class="sidebar">

			<h3>Menu</h3>
			     
		<a  class="side-buttons" href="/"><div></div>Home</a>
		<a  class="side-buttons" href="#about-college" onclick="scrollToSection('about-college')"><div></div>About institute</a>
		<a  class="side-buttons" href="/about_department"><div></div>About Department</a>
		<a  class="side-buttons" href="/conference-topics"><div></div>Topics for Conference</a>
		<a  class="side-buttons" href="/registration-detail"><div></div>Registration Details</a>
		<a  class="side-buttons" href="/important-dates"><div></div>Important Dates</a>
		<a  class="side-buttons" href="/solapur"><div></div>About Solapur</a>
		<a  class="side-buttons" href="/about"><div></div>How to Reach</a>
		
		<a  class="side-buttons" href="/commite"><div></div>Committee</a>
		<a  class="side-buttons" href="/speakers"><div></div>Keynote Speakers / Invited Speakers
		</a>
		<a  class="side-buttons" href="/about"><div></div>Programme</a>
		<a  class="side-buttons" href="/about"><div></div>Publication</a>
		<a  class="side-buttons" href="/about"><div></div>Downloads</a>
		<a  class="side-buttons" href="/about"><div></div>VENUE</a>
		<a  class="side-buttons" href="/about"><div></div>Photo Gallery</a>
		<a  class="side-buttons" href="/about"><div></div>Accommodation</a>
		<a  class="side-buttons" href="/about"><div></div>Contacts</a>
		 
		</nav>






  <body style="background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(210,222,241,1) 89%);">
    <div class="container" style=" height: 100%;">




