<%- include("partials/header") -%>


    <div id="about-college " class="about-college content-holder1 back-white ">
        <h2 class="text-center" style="margin-top: 5px;">About College</h2>

        <p>
            Sinhgad Institute was established in 1993 under the able and dynamic leadership of Prof. M. N. Navale, with
            an objective of providing technical education which was at par with the best in the world. In the past two
            decades, the Sinhgad family was grown to 119 Institutes spread all over 12 Campuses and providing education
            for more than 1,00,000 students.
        </p>
        <br>
        <p>
            N. B. Navale Sinhgad College of Engineering (NBNSCOE), Kegaon-Solapur is located on Solapur-Pune Highway, 7
            Kms away from Solapur city and in front of Solapur University, Solapur, started in A.Y. 2010-11, with an aim
            of providing Quality Engineering Education.
        </p>
        <br>
        <p>
            Being spread over, 90 Acres of lush green land with all kind of modern amenities and required infrastructure, NBNSCOE has become the first choice of Engineering aspirants, which have resulted in the maximum number of student’s admission amongst any of the other Engineering Colleges in and around Solapur region.
        </p>

        <br>
        <p>
            NBNSCOE is accredited by National Assessment and Accreditation Council with A Grade (CGPA 3.12/4), Received 4.5 star rating at national level by Ministry of Education (MoE) Innovation Cell, also received Atal Ranking of Institutions on Innovation Achievements for year 2020 in the band C which is applicable to private or self financed institutions from all over India.
        </p>

        <br>
        <p>
            Due to the achievements of our students and faculty members in Academic, Co-curricular and extra-curricular activities, NBNSCOE has always been in focus at print and electronic media. At the same time strong Alumni base is the strength of NBNSCOE.
        </p>
        <p>
            Some of the key features of NBNSCOE are as follows:-
        </p>



    </div>




    <%- include("partials/footer") -%>