<%- include("partials/header") -%>


<div>
    <h2 class="text-center">About Departments</h2>
</div>




  <div class="department-container">
    <div class="department">
        <img class="text-center" src="/images/cse.png" alt="">
      <h2 class="text-center">Computer Scince and Engineering</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et dui eget enim finibus aliquam sit amet id massa.</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum sit eius totam, repudiandae nesciunt alias molestias recusandae molestiae ex rerum, veniam perferendis laudantium dolorum, esse quisquam a consequatur obcaecati vitae! Possimus quaerat ipsum tempore in laborum non nihil itaque. Pariatur dignissimos, esse nisi sunt placeat veritatis quae dolores vel deserunt deleniti impedit fuga eius. Iure dolores eos necessitatibus obcaecati vitae nobis non quam! Voluptates quo odit sed aut dignissimos minima vel fugit non sapiente ullam facere cumque magnam quae architecto, natus quaerat? Deserunt molestiae consequatur labore possimus error ex tenetur voluptate nisi sed officiis quam ut suscipit, est corporis rem. Porro assumenda itaque voluptatem suscipit quo ab explicabo veniam laboriosam perspiciatis rem consequatur sed, ea fuga. Numquam facilis dolorem, veniam rerum consectetur perferendis dolores quo minus optio. Officiis sit illum reprehenderit magnam aspernatur nulla voluptatum distinctio, dolorum ut fuga animi magni, temporibus quas velit similique possimus fugit, pariatur consequatur iste ad omnis. Error repellendus ad, quibusdam praesentium placeat provident laborum vero ab, assumenda inventore maxime eum quisquam neque mollitia maiores esse doloremque sit. Necessitatibus quas dolores repellat distinctio, commodi veniam impedit inventore quam quod natus similique sit quidem blanditiis eius sunt et porro officia aperiam eos dolore consequatur laborum. Expedita!</p>
    </div>

    <div class="department">
        <img class="text-center" src="/images/entc.png" alt="">
      <h2 class="text-center">Electronics and Telecomunication</h2>
      <p>Nulla tempus aliquam ipsum in blandit. Donec malesuada ante augue, a tempor velit finibus vitae.</p>
   
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum sit eius totam, repudiandae nesciunt alias molestias recusandae molestiae ex rerum, veniam perferendis laudantium dolorum, esse quisquam a consequatur obcaecati vitae! Possimus quaerat ipsum tempore in laborum non nihil itaque. Pariatur dignissimos, esse nisi sunt placeat veritatis quae dolores vel deserunt deleniti impedit fuga eius. Iure dolores eos necessitatibus obcaecati vitae nobis non quam! Voluptates quo odit sed aut dignissimos minima vel fugit non sapiente ullam facere cumque magnam quae architecto, natus quaerat? Deserunt molestiae consequatur labore possimus error ex tenetur voluptate nisi sed officiis quam ut suscipit, est corporis rem. Porro assumenda itaque voluptatem suscipit quo ab explicabo veniam laboriosam perspiciatis rem consequatur sed, ea fuga. Numquam facilis dolorem, veniam rerum consectetur perferendis dolores quo minus optio. Officiis sit illum reprehenderit magnam aspernatur nulla voluptatum distinctio, dolorum ut fuga animi magni, temporibus quas velit similique possimus fugit, pariatur consequatur iste ad omnis. Error repellendus ad, quibusdam praesentium placeat provident laborum vero ab, assumenda inventore maxime eum quisquam neque mollitia maiores esse doloremque sit. Necessitatibus quas dolores repellat distinctio, commodi veniam impedit inventore quam quod natus similique sit quidem blanditiis eius sunt et porro officia aperiam eos dolore consequatur laborum. Expedita!</p>
</div>

    <div class="department">
        <img class="text-center" src="/images/ele.png" alt="">
      <h2 class="text-center">Electrical</h2>
      <p>Proin consequat eros nec ex eleifend, vitae ultricies odio facilisis. Vivamus euismod aliquam ante.</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum sit eius totam, repudiandae nesciunt alias molestias recusandae molestiae ex rerum, veniam perferendis laudantium dolorum, esse quisquam a consequatur obcaecati vitae! Possimus quaerat ipsum tempore in laborum non nihil itaque. Pariatur dignissimos, esse nisi sunt placeat veritatis quae dolores vel deserunt deleniti impedit fuga eius. Iure dolores eos necessitatibus obcaecati vitae nobis non quam! Voluptates quo odit sed aut dignissimos minima vel fugit non sapiente ullam facere cumque magnam quae architecto, natus quaerat? Deserunt molestiae consequatur labore possimus error ex tenetur voluptate nisi sed officiis quam ut suscipit, est corporis rem. Porro assumenda itaque voluptatem suscipit quo ab explicabo veniam laboriosam perspiciatis rem consequatur sed, ea fuga. Numquam facilis dolorem, veniam rerum consectetur perferendis dolores quo minus optio. Officiis sit illum reprehenderit magnam aspernatur nulla voluptatum distinctio, dolorum ut fuga animi magni, temporibus quas velit similique possimus fugit, pariatur consequatur iste ad omnis. Error repellendus ad, quibusdam praesentium placeat provident laborum vero ab, assumenda inventore maxime eum quisquam neque mollitia maiores esse doloremque sit. Necessitatibus quas dolores repellat distinctio, commodi veniam impedit inventore quam quod natus similique sit quidem blanditiis eius sunt et porro officia aperiam eos dolore consequatur laborum. Expedita!</p>
    </div>
  </div>
 

  

<%- include("partials/footer") -%>