<%- include("partials/header") -%>


    <div id="about-college " class="about-college content-holder1 back-white ">
        <h2 class="text-center" style="margin-top: 5px;">About College</h2>

        <p>
            Sinhgad Institute was established in 1993 under the able and dynamic leadership of Prof. M. N. Navale, with
            an objective of providing technical education which was at par with the best in the world. In the past two
            decades, the Sinhgad family was grown to 119 Institutes spread all over 12 Campuses and providing education
            for more than 1,00,000 students.
        </p>
        <br>
        <p>
            N. B. Navale Sinhgad College of Engineering (NBNSCOE), Kegaon-Solapur is located on Solapur-Pune Highway, 7
            Kms away from Solapur city and in front of Solapur University, Solapur, started in A.Y. 2010-11, with an aim
            of providing Quality Engineering Education.
        </p>
        <br>
        <p>
            Being spread over, 90 Acres of lush green land with all kind of modern amenities and required infrastructure, NBNSCOE has become the first choice of Engineering aspirants, which have resulted in the maximum number of student’s admission amongst any of the other Engineering Colleges in and around Solapur region.
        </p>

        <br>
        <p>
            NBNSCOE is accredited by National Assessment and Accreditation Council with A Grade (CGPA 3.12/4), Received 4.5 star rating at national level by Ministry of Education (MoE) Innovation Cell, also received Atal Ranking of Institutions on Innovation Achievements for year 2020 in the band C which is applicable to private or self financed institutions from all over India.
        </p>

        <br>
        <p>
            Due to the achievements of our students and faculty members in Academic, Co-curricular and extra-curricular activities, NBNSCOE has always been in focus at print and electronic media. At the same time strong Alumni base is the strength of NBNSCOE.
        </p>
        <p>
            Some of the key features of NBNSCOE are as follows:-
        </p>
    

        <section class="key-features">
        
            <ul>
              <li> Project Based learning approach for enhancement of the technical skills of the students.</li>
              <li> Value Addition Programs for bridging the gap between curriculum and current industry needs.</li>
              <li> Soft-Skill and Personality development training, to improve student’s leadership qualities.</li>
              <li> Separate Training and Placement Cell, which is well connected to Sinhgad Central Placement Cell (CPC) have enhanced the employability opportunities of the students.</li>
              <li> 24 hours Library with sufficient number of Books/Journals to keep students updated.</li>
              <li> Well defined and seriously followed Code of Conduct for students, to maintain the conducive environment in the campus.</li>
              <li> Separate Cells for Entrepreneurship Development, Students Council, Alumni, and Carrier counseling to give the opportunities to every student to participate and interact with industry experts.</li>
              <li> Dedicated “Center for Research and Technology Development” (CRTD) to enhance the research culture amongst students and faculty members of NBNSCOE.</li>
              <li> Motivation for Lab Innovation and interdisciplinary projects to get product oriented output from engineering students.</li>
              <li> Tie-Ups with Foreign Universities, for giving the opportunities to the interested students for doing their internships in European/Russian Universities.</li>
              <li> Memorandum of Understanding (MoU’s) with Industries/Organizations of National importance to provide opportunities to the young engineers for improving their practical skills and giving them exposure.</li>
              <li> Scholarship for Meritorious Students to appreciate their efforts and motivate them for doing even better.</li>
            </ul>
            <p>With all these efforts, NBNSCOE have always tried to fulfill the expectations of all the stake holders. But, it’s only the beginning, as we believe to deliver Better Than The Best.</p>
            
          </section>
          



    </div>




    <%- include("partials/footer") -%>