<%- include("partials/header") -%>


<div>
    <h2 class="text-center">About Departments</h2>
</div>




  <div class="department-container">
    <div class="department">
        <img class="text-center" src="/images/cse.png" alt="">
      <h2 class="text-center">Computer Scince and Engineering</h2>
      <br>

      <p>
        With the globalization of Indian economy, vast opportunities of growth have thrown open for the computer software and hardware industry. Software being one of the largest growing sectors of the Indian economy, the department of computer engineering has been at the forefront of churning out software engineers of high caliber of technical expertise. It continues to foster and engender the innovation and breadth of vision necessary to excel in the blooming software industry.
        <br><br>
Besides imparting theoretical knowledge, a lot of stress is laid on hands-on training and overall, development of the individual’s personality. The teaching and value addition program have devised keeping in view close interaction with the industry. The competence of the department is reflected in growing demands for its fresh graduates. The number of recruiting companies has multiplied many folds in the last few years.
<br><br>
The department strives to make learning more creative, interactive and information driven by using sophisticated computer techniques. The centre would offer training and software development apart from being a support service for the faculty, students.”
<br><br>
The Department of Computer Science & Engineering was established in 2010-11 with with an initial intake of 60 students for UG Programme.

      </p>

   
     
    </div>

    <div class="department">
        <img class="text-center" src="/images/entc.png" alt="">
      <h2 class="text-center">Electronics and Telecomunication</h2>
    <p>Electronics Engineering is constantly changing and widening branch of engineering profession having applications in every discipline of engineering including consumer electronics, telecomm, medical electronics, audio-video, data storage.
      <br><br>
      The department equipped with state of art laboratories. Lab facilities are being upgraded from time to time and provide adequate opportunities for students to learn and innovate. Department is focused on overall development of students.
      <br><br>
      The department of Electronics and telecommunication is established in year 2010.The Regular intake of Bachelor of Engineering is 60 . The faculties of department are well qualified, dynamic, experienced and research oriented. Result of the department is progressively increasing. The department focused on overall development of students by conducting various curricular and co-curricular activities. All laboratories are well equipped and organized.
      <br><br>
      The department has good research group in medical image processing, wireless communication, cognitive radio and embedded systems. Various papers have been presented by the faculty members in reputed journals and IEEE conferences.
      </p>
</div>

    <div class="department">
        <img class="text-center" src="/images/ele.png" alt="">
      <h2 class="text-center">Electrical</h2>
      <br>
      <p>
        The department of Electrical Engineering was started in the year 2010. The department conducts four year Bachelor of Engineering in Electrical Engineering degree course affiliated to Solapur University, Solapur. The course content includes the basics of Electrical Engineering and an exhaustive treatment on Electrical Machines, Electrical Networks, Electrical Power Systems, Power Generation, Transmission and Distribution, Computer Aided Stability and Load Flow analysis.
         <br><br>
The course also gives a substantial exposure to Analog & Digital Electronics, Power Electronics and Computer System and applications. The department offers and carries out projects in the conventional and relevant thrust areas of technology. The department has full pledged laboratories to meet the requirements of University curriculum. The department has well qualified staff with expertise in Power Systems, Control Systems, Power Electronics and Drives, Electrical Machines, Electronics and Computer Applications, assisted by skilled supporting staff. Electrical Engineering Students Association (E2SA), a departmental organization provides a platform for students to exhibit their talents in various extracurricular activities. The students graduated from our dept have been securing good placements in Electrical Industries and Electronics and Computer fields.

      </p>
    </div>
  </div>
 

  

<%- include("partials/footer") -%>