<%- include("partials/header") -%>

<style>
  .container h5{
    font-size: 1.2rem;
  }

  .nnm{
    margin-top: 40px;
  }
</style>


    <div id="about-college " class="about-college content-holder1 back-white ">
        <h2 class="text-center" style="margin-top: 5px;;">Advisiory Commettee</h2>



		
<center>

	<div class="container">
		<div class="nnm">
			<h5>Dr. Sharul Kamal Abdul Rahim</h5>
			<p>Universiti Teknologi, Malaysia</p>
		</div>
		<div class="nnm">
			<h5>Dr. Lulu wang</h5>
			<p>Shenzhen Technology University, China</p>
		</div>
		<div class="nnm">
			<h5>Dr. Taha Elwi</h5>
			<p>Al-Mamoon University College, Iraq</p>
		</div>
		<div class="nnm">
			<h5>Dr. Tan Kim Geok</h5>
			<p>Multimedia University, Malaysia</p>
		</div>
		<div class="nnm">
			<h5>Dr. Mohamad Abou Shahine</h5>
			<p>Lebanese International University, Mouseitbeh, Lebanon</p>
		</div>
		<div class="nnm">
			<h5>Dr. Zahriladha Zakaria</h5>
			<p>Universiti Teknikal Malaysia</p>
		</div>
		<div class="nnm">
			<h5>Dr. Ela Ertunc</h5>
			<p>Konya Technical University, Turkey</p>
		</div>
		<div class="nnm">
			<h5>Dr. Wenhai Zhang</h5>
			<p>Soochow University (PRC), Macao</p>
		</div>
		<div class="nnm">
			<h5>Dr. Vadym Slyusar</h5>
			<p>Armed Forces of Ukraine</p>
		</div>
		<div class="nnm">
			<h5>Dr. Rajesh Saha</h5>
			<p>NIT Jaipur</p>
            </div>
              
              <div class="nnm">
                <h5>Prof. N C Shivaprakash</h5>
                <p>IISC Bangalore, India</p>
              </div>
              
              <div class="nnm">
                <h5>Prof. Fazal Ahmed Talukdar</h5>
                <p>National Institute of Technology Silchar, India</p>
              </div>
              
              <div class="nnm">
                <h5>Dr. Debasish Nayak</h5>
                <p>University of Texas, Rio, USA.</p>
              </div>
              
              <div class="nnm">
                <h5>Dr. Alekha Kumar Mishra</h5>
                <p>National Institute of Technology, Jamshedpur, India</p>
              </div>
              
              <div class="nnm">
                <h5>Dr. Ravindra Dhuli</h5>
                <p>VIT-AP University, India</p>
              </div>
              
              <div class="nnm">
                <h5>Dr. Badal Soni</h5>
                <p>National Institute of Technology Silchar, India</p>
              </div>
              
              <div class="nnm">
                <h5>Dr. Ram Kumar</h5>
                <p>Katihar Engineering College, India</p>
              </div>
              
              <div class="nnm">
                <h5>Dr. Umakanta Nanda</h5>
                <p>VIT-AP University, India</p>
              </div>
              
              <div class="nnm">
                <h5>Dr. Bappi Paul</h5>
                <p>National Forensic Sciences University, Gandhinagar</p>
              </div>
              
              <div class="nnm">
                <h5>Dr. Kanja Lochan Jena</h5>
                <p>LMNIT Jaipur</p>
              </div>
              
              <div class="nnm">
                <h5>Dr. Deepak Sharma</h5>
                <p>NIT Hamirpur</p>
              </div>
              
              <div class="nnm">
                <h5>Dr. Achintya Sarkar</h5>
                <p>IIIT Sri City</p>
              </div>
              
              <div class="nnm">
                <h5>Dr. Banani Basu</h5>
                <p>NIT Silchar</p>
              </div>
              
              <div class="nnm">
                <h5>Dr. Arnab Nandi</h5>
                <p>NIT Silchar</p>
              </div>
              
              <div class="nnm">
                <h5>Dr. Abhijyoti Ghosh</h5>
                <p>NIT Mizoram</p>
              </div>
              
              <div class="nnm">
                <h5>Dr. Sadhan Gope</h5>
                <p>NIT Agartala</p>
              </div>
              
              <div class="nnm">
                <h5>Dr. Anumay Ghosh</h5>
                <p>NIT Mizoram</p>
              </div>
              
              <div class="nnm">
                <h5>Mr. Subhradeep Chakraborty</h5>
                <p>CSIR Pilani</p>
              </div>
              
              <div class="nnm">
                <h5>Dr. Samineni Peddakrishna</h5>
                <p>VIT-AP University</p>
              </div>
              <div class="nnm">
                <h5>	Dr. P. J. Kulkarni</h5>
                <p>RMD Sinhgad,Pune</p>
              </div>
              <div class="nnm">
                <h5>•	Dr. Sameer Shastri</h5>
                <p>SCOE, Pune</p>
              </div>
              <div class="nnm">
                <h5>Mr. Atul Sagade</h5>
                <p>SERL, India</p>
              </div>
              <div class="nnm">
                <h5>•	Dr. Achchhe Lal</h5>
                <p>SVNIT, Surat</p>
              </div>
              
		
</div>

</center>

</div>


        
    



<%- include("partials/footer") -%>
