<%- include("partials/head2") -%>

<style>
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.detail {
  flex: 1 1 300px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

img {
  width: 50%;
  height: 200px; /* set a fixed height */
  object-fit: cover; /* to prevent image distortion */
}

h3 {
  margin-top: 20px;
}
.tle{
    background-color: #f2f2f2;
    height: 20%;
    width: 100%;
}

.text-center{
    color: rgb(0, 63, 111);
}



@media screen and (max-width: 768px) {
  .detail {
    flex-basis: 50%;
  }
}


</style>


<div class="contact-body" style="background-color: white; box-shadow: 0 2px 5px rgba(0,0,0,0.2); width: 100%; border-radius: 5px;">






<div class="container">
    <hr>


    <div class="tle">
        <h2 class="text-center">Chief Patrons</h2>
    </div>


    <div class="detail">
        <img src="images/mnnavale.png" alt="Photo of Hon. Prof. M. N. Navale">
              
        <h6 class="name" style="font-size: 120%;">Hon. Prof. M. N. Navale</h6>
        <p class="position">President, Sinhgad Technical Education Society</p>
    </div>
    <div class="detail">
        <img src="images/dr.sunandaNavale.png" alt="Photo of Hon. Dr. Sunanda M. Navale">
        <h6 class="name"  style="font-size: 120%;">Hon. Dr. Sunanda M. Navale</h6>
        <p class="position">Secretary, Sinhgad Technical Education Society</p>
    </div>

    <div class="detail">

        <img src="images/mrs.rachananavale.png" alt="Photo of Hon. Mrs. Rachana Navale-Ashtekar">
        <h6 class="name" style="font-size: 120%;">Hon. Mrs. Rachana Navale-Ashtekar</h6>
        <p class="position">Vice-President (Admin), Sinhgad Technical Education Society</p>
    </div>

    <div class="detail">
        <img src="images/mr.rohitnavale.png" alt="Photo of Hon. Mr. Rohit M. Navale">
        <h6 class="name" style="font-size: 120%;">Hon. Mr. Rohit M. Navale</h6>
        <p class="position">Vice-President (HR), Sinhgad Technical Education Society</p>
    </div>

    

  

  </div>

<br><br><br><br>

  <div class="container">

    <div class="tle">
        <h2 class="text-center">Patrons</h2>
    </div>

    <div class="detail">
        <img src="images/mr.sanjaynavale.png" alt="Photo of Hon. Mr. Sanjay S. Navale" style="width: 150px; height: 200px;">
        <h6 class="name" style="font-size: 120%;">Hon. Mr. Sanjay S. Navale</h6>
        <p class="position">Jt. Secretary, Savitribai Phule Shikshan Prasarak Mandal</p>
    </div>
    

  

  </div>
  
<br><br><br><br>


  <hr><hr>

  <div class="container">

    <div class="tle">
        <h2 class="text-center">Chair Person</h2>
    </div>


    <div class="detail">
        <img src="images/dr.sdnavale.png" alt="Photo of Dr. Shankar Navale" style="width: 150px; height: 200px;">
        <h6 class="name"> Dr. Shankar Nawale	</h6>
        <p class="position" style="margin: 0 20% 0 20%;">Principal, NBNSCOE, Solapur, India Dean Faculty of Science and Technology, Punyashlok Ahilyadevi Holkar  Solapur University, Solapur, India</p>
    
    </div>
    

  

  </div>

  
<br><br><br><br>



  <div class="container">
    <hr>


    <div class="tle">
        <h2 class="text-center">Technical Program Chair</h2>
    </div>


    <div class="detail">
        <h6 class="name">Dr. Shekhar  Jagade </h6>
        <p class="position">   Vice Principal, Dean Admin, NBNSCOE, Solapur</p>
    </div>
    <div class="detail">
        <h6 class="name">Dr. Ravindra Vyvhare.</h6>
        <p class="position"> 	Vice Principal, Dean Academic, NBNSOE, Solapur</p>
    </div>

    <div class="detail">

        <h6 class="name">  Dr. Jayendra Kumar </h6>
        <p class="position"> Associate Professor, School of Electronics 
          Engineering, VIT-AP University , Andhrapradesh, India</p>
    </div>




 
</div>


<br><br><br><br>


<div class="container">
    <hr>


    <div class="tle">
        <h2 class="text-center">Convener</h2>
    </div>


    <div class="detail">
        <h6 class="name"> Dr. Siddharudha  Shirgan                      </h6>
        <p class="position">                 Associate Professor, 
          Department of Electronics and Telecomm. Engg. 
            NBNSCOE, Solapur, India
</p>
    </div>

    </div>





    <br><br><br><br>


    <div class="container">
        <hr>
    
    
        <div class="tle">
            <h2 class="text-center">Co-convener</h2>
        </div>
    
    

        <div class="detail">
            <h6 class="name">   Prof. Amol Phatak	.</h6>
            <p class="position">     Assistant Professor, Department of Computer Science Engg. 
              NBNSCOE, Solapur, India
</p>
        </div>
    

    
    
    
    
     
    </div>


    <br><br><br><br>




    <div class="container">
        <hr>
    
    
        <div class="tle">
            <h2 class="text-center hcolor">Organizing Committee</h2>
        </div>
    
    
        <div class="detail">
            <center><h6 class="name">Dr. P.P. Tapkire</h6></center>
            <p class="position"> HoD(Civil Engineering )</p>
        </div>
        <div class="detail">
            <h6 class="name">Dr. D. P. Gandhamal</h6>
            <p class="position">HoD (Computer Science Engg.)</p>
        </div>
    
        <div class="detail">
    
            <h6 class="name">Dr.V.S. Biradar</h6>
            <p class="position">HOD (Electrical Department)</p>
        </div>

        <div class="detail">
    
            <h6 class="name">Dr. V. V. Kharat</h6>
            <p class="position">HOD (GEneral Science & Engineering)</p>
        </div>



        <div class="detail">
            <h6 class="name">Dr. I. M. Chandarki</h6>
            <p class="position">Dean (PG)</p>
        </div>

        <div class="detail">
            <h6 class="name">Dr. S. H. Kshirsagar</h6>
            <p class="position">Dean (Student Welafare)</p>
        </div>

        <div class="detail">
            <h6 class="name">Dr. K. C. Mujawar</h6>
            <p class="position">Assistant Professorr (Civil Engineering)</p>
        </div>
    
  
    
    
     
    </div>



    

 




</div>

  

<%- include("partials/footer") -%>


