<%- include("partials/head2") -%>

<style>

  
  img {
  height: 60%;
  width: 30%;
  height: auto;
}

/* Styling for the Chief Patrons section */

/* Center the heading */
.chief-patrons h3 {
  text-align: center;
}

/* Set a maximum width for the container and center it */
.chief-patrons {
  max-width: 1200px;
  margin: 0 auto;
}

/* Set a maximum width for the list items */
.chief-patrons ul li {
  max-width: 300px;
  margin: 0 auto;
}

/* Style the images */
.chief-patrons ul li img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}

/* Style the names and positions */
.chief-patrons ul li .name,
.chief-patrons ul li .position {
  text-align: center;
}

/* Set a maximum width for the names and positions */
.chief-patrons ul li .name,
.chief-patrons ul li .position {
  max-width: 300px;
  margin: 0 auto;
}

/* Make the details responsive */
@media (max-width: 767px) {
  /* Set the list items to display as blocks */
  .chief-patrons ul li {
    display: block;
    margin-bottom: 30px;
  }

  /* Remove the margins from the names and positions */
  .chief-patrons ul li .name,
  .chief-patrons ul li .position {
    margin: 0;
  }
}


</style>


<div class="content-home testimonial-card -grey content-box-holder">

    <div id="about-college " class="about-college content-holder1 back-white " style="margin: 3%;">

    <h2 class="text-center">Committee</h2><br><br><br>


    <div class="chief-patrons" style="width: 70%;">

      <div class="bb2"  style="   height: 30px ;
      width: 100%;
  background-color: rgb(234, 234, 234);">
          <center><h3>Chief Patrons</h3></center>
      </div>
          <br>
          <ul>
            <li>

              <img src="images/mnnavale.png" alt="Photo of Hon. Prof. M. N. Navale">
              
              <h6 class="name">Hon. Prof. M. N. Navale</h6>
              <p class="position">President, Sinhgad Technical Education Society</p>
            </li>
            <br>
            <li>

              <img src="images/dr.sunandaNavale.png" alt="Photo of Hon. Dr. Sunanda M. Navale">
              <h6 class="name">Hon. Dr. Sunanda M. Navale</h6>
              <p class="position">Secretary, Sinhgad Technical Education Society</p>
            </li>
            <br>
            <li>
              <img src="images/mrs.rachananavale.png" alt="Photo of Hon. Mrs. Rachana Navale-Ashtekar">
              <h6 class="name">Hon. Mrs. Rachana Navale-Ashtekar</h6>
              <p class="position">Vice-President (Admin), Sinhgad Technical Education Society</p>
            </li>
            <br>
            <li>
              <img src="images/mr.rohitnavale.png" alt="Photo of Hon. Mr. Rohit M. Navale">
              <h6 class="name">Hon. Mr. Rohit M. Navale</h6>
              <p class="position">Vice-President (HR), Sinhgad Technical Education Society</p>
            </li>
            <br>
            <li>
              <img src="images/mr.sanjaynavale.png" alt="Photo of Hon. Mr. Sanjay S. Navale">
              <h6 class="name">Hon. Mr. Sanjay S. Navale</h6>
              <p class="position">Jt. Secretary, Savitribai Phule Shikshan Prasarak Mandal</p>
            </li>
            <br>
          </ul>
        </div>
  

        <div class="chief-patrons" style="width: 70%;">

    <div class="bb2"  style="   height: 30px ;
    width: 100%;
background-color: rgb(234, 234, 234);">
        <center><h3>Patrons</h3></center>
    </div>
        <br>
        <ul>
          <li>
            <img src="images/dr.mmf.png" alt="Photo of Hon. Prof. Mrunalini M. Fadnavis   ">
            <h6 class="name">Hon. Prof. Mrunalini M. Fadnavis          </h6>
            <p class="position">Vice-Chancellor, Punyashlok Ahilyadevi Holkar       
              Solapur University, Solapur, India
</p>
          </li>
          
          <br>
        </ul>
      </div>
      <div class="chief-patrons" style="width: 70%;">

        <div class="bb2"  style="   height: 30px ;
        width: 100%;
    background-color: rgb(234, 234, 234);">
            <center><h3>Chair Person</h3></center>
        </div>
            <br>
            <ul>
              <li>
                <img src="images/dr.sdnavale.png" alt="Photo of Dr. Shankar Navale">
                <h6 class="name"> Dr. Shankar Nawale	</h6>
                <p class="position">Principal, NBNSCOE, Solapur, India Dean Faculty of Science and Technology, Punyashlok Ahilyadevi Holkar  Solapur University, Solapur, India</p>
              </li>
              
              <br>
            </ul>
          </div>


          <div class="chief-patrons" style="width: 70%;">

            <div class="bb2"  style="   height: 30px ;
            width: 100%;
        background-color: rgb(234, 234, 234);">
                <center><h3>Technical Program Chair</h3></center>
            </div>
                <br>
                <ul>
                  <li>
                    <h6 class="name">Dr. Shekhar  Jagade </h6>
                    <p class="position">   Vice Principal, Dean Admin, NBNSCOE, Solapur</p>
                  </li>
                  <br>
                  <li>
                    <h6 class="name">Dr. Ravindra Vyvhare.</h6>
                    <p class="position"> 	Vice Principal, Dean Academic, NBNSOE, Solapur</p>
                  </li>
                  <br>
                  <li>
                    <h6 class="name">  Dr. Jayendra Kumar </h6>
                    <p class="position"> Associate Professor, School of Electronics 
                      Engineering, VIT-AP University , Andhrapradesh, India</p>
                  </li>
                  <br>
                
                  <br>
                </ul>
              </div>

              <div class="chief-patrons" style="width: 70%;">

                <div class="bb2"  style="   height: 30px ;
                width: 100%;
            background-color: rgb(234, 234, 234);">
                    <center><h3>Convener</h3></center>
                </div>
                    <br>
                    <ul>
                      <li>
                        <h6 class="name"> Dr. Siddharudha  Shirgan                      </h6>
                        <p class="position">                 Associate Professor, 
                          Department of Electronics and Telecomm. Engg. 
                            NBNSCOE, Solapur, India
</p>
                      </li>
                      
                      <br>
                    </ul>
                  </div>


                  <div class="chief-patrons" style="width: 70%;">

                    <div class="bb2"  style="   height: 30px ;
                    width: 100%;
                background-color: rgb(234, 234, 234);">
                        <center><h3>Co-convener</h3></center>
                    </div>
                        <br>
                        <ul>
                          <li>
                            <h6 class="name">    Prof. Vijay Biradar                         </h6>
                            <p class="position">                 Assistant Professor, Department of Electrical Engg., 
                              NBNSCOE,  Solapur, India
</p>
                          </li>
                          <br>
                          <li>
                            <h6 class="name">   Prof. Amol Phatak	.</h6>
                            <p class="position">     Assistant Professor, Department of Computer Science Engg. 
                              NBNSCOE, Solapur, India
</p>
                          </li>
                          <br>
                        
                          <br>
                        
                          <br>
                        </ul>
                      </div>


                      <div class="bb2"  style="   height: 30px ;
                      width: 100%;
                    background-color: rgb(234, 234, 234);">
                    <center><h3>Organizing Committe</h3></center>
                    </div>
                    <br>
                    <ul>
                    
                    <center><h6 class="name">Dr. S.M. Jagade</h6></center>
                    <p class="position">Dean (Admin) and HoD(Electronics and Telecom. Engg.)</p>
                    </li>
                    <br>
                    <li>
                    <h6 class="name">Dr. R. T. Vyvhare</h6>
                    <p class="position">Dean (Academics) and HoD(Mechanical Engg.)</p>
                    </li>
                    <br>
                    <li>
                    <h6 class="name">Dr.(Mrs) S. H. Kshirsagar</h6>
                    <p class="position">Dean (Student welfare)</p>
                    </li>
                    <br>
                    <li>
                    <h6 class="name">Dr. I. M. Chandarki</h6>
                    <p class="position">Dean (PG)</p>
                    </li>
                    <br>
                    <li>
                    <h6 class="name">Dr. D. P. Gandhamal</h6>
                    <p class="position">HoD (Computer Science Engg.)</p>
                    </li>
                    <br>
                    <li>
                    <h6 class="name">Dr. P. P. Tapkire</h6>
                    <p class="position">HoD (Civil Engg.)</p>
                    </li>
                    <br>
                    <li>
                    <h6 class="name">Dr. V. V. Kharat</h6>
                    <p class="position">HoD (General Science Engg.)</p>
                    <p>hello</p>
                    </li>
                    <br>
                    </ul>
                    </div>

              
        
    
    
    
          

          
          
        
        
              
        


      




      
      



   
    

       
    </div>


</div>






<%- include("partials/footer") -%>