<%- include("partials/header") -%>


<div class="content-home testimonial-card -grey content-box-holder">

    <div id="about-college " class="about-college content-holder1 back-white " style="margin: 3%;">

    <h2 class="text-center">Committee</h2>

   
    

       
    </div>


</div>






<%- include("partials/footer") -%>