<%- include("partials/header") -%>


<div class="content-home testimonial-card -grey content-box-holder">

    <div id="about-college " class="about-college content-holder1 back-white " style="margin: 3%;">

    <h2 class="text-center">Committee</h2>

    
        <button type="button" class="collapsible">Chief Patrons</button>
        <div class="content">
          <p>Lorem ipsum...</p>
        </div>

        <br>
        <button type="button" class="collapsible">Patrons</button>
        <div class="content">
          <p>Lorem ipsum...</p>
        </div>

        <br>
        <button type="button" class="collapsible">Chairperson</button>
        <div class="content">
          <p>Lorem ipsum...</p>
        </div>


        <br>
        <button type="button" class="collapsible">Technical Program Chair</button>
        <div class="content">
          <p>Lorem ipsum...</p>
        </div>


        <br>
        <button type="button" class="collapsible">Chief Convener</button>
        <div class="content">
          <p>Lorem ipsum...</p>
        </div>
        <br>
        <button type="button" class="collapsible">Co-Convener</button>
        <div class="content">
          <p>Lorem ipsum...</p>
        </div>
        <br>
        <button type="button" class="collapsible">International Scienific Committee</button>
        <div class="content">
          <p>Lorem ipsum...</p>
        </div>
        <br>
        <button type="button" class="collapsible">National Scientific Committee</button>
        <div class="content">
          <p>Lorem ipsum...</p>
        </div>

          <br>
        <button type="button" class="collapsible" >Oragnizing Committeee</button>
        <div class="content">
          <p>Lorem ipsum...</p>
        </div>



       
    </div>


</div>






<%- include("partials/footer") -%>