<%- include("partials/header") -%>



<div id="about-college " class="about-college content-holder1 back-white " style="height: 1200px; justify-content: flex-start;">
    <h2 class="text-center" style="margin-top: 5px; ">Conference Topics</h2>


    <div class="track">
        <i class="fa-solid fa-building-columns"></i>
        <p>Track1: Automation and Robotics</p>

    </div>
    <div class="track">
        <i class="fa-solid fa-building-columns"></i>
        
        <p>Track 2: Power Electronics and Renewable Energy</p>

    </div>
    <div class="track">
        <i class="fa-solid fa-building-columns"></i>
        <p>Track 3: Computational Intelligence</p>

    </div>
    <div class="track">
        <i class="fa-solid fa-building-columns"></i>
        <p>Track 4: Communication</p>

    </div>
    <div class="track">
        <i class="fa-solid fa-building-columns"></i>

        <p>Track 5: Signal and Image Processing</p>

    </div>

    <div class="track">
        <i class="fa-solid fa-building-columns"></i>
        
    <p>Track 6: Networking and Security</p>

    </div>


   


</div>





<%- include("partials/footer") -%>