<%- include("partials/header") -%>


<div class="content-home testimonial-card -grey content-box-holder">

    <div id="about-college " class="about-college content-holder1 back-white " style="margin: 3%;">
        <br>

    <h2 class="text-center">Conference Topics</h2>
    <br>
    <br>
    <br>

    
        <button type="button" class="collapsible">Track1: Automation and Robotics</button>
        <div class="content">
            <p style="font-size: 20px;">Topics of interest include, but are not limited to, the following:</p>
            <ul>
                <li>Engineering Applications on Robotics and Automation</li>
                <li>Industrial Networks and Automation</li>
                <li>Drones and Internet of Things for Surveillance</li>
                <li>Mechatronics</li>
                <li>Intelligent Transportation Technologies and Systems</li>
                <li>Robot Design, Development and Control</li>
                <li>Control system and Optimization</li>
              </ul>  
        </div>

        <br>
        <button type="button" class="collapsible">Track 2: Power Electronics and Renewable Energy</button>
        <div class="content">
            <p style="font-size: 20px;">Topics of interest include, but are not limited to, the following:</p>
            <ul>
                <li>Emerging Technologies in Power Electronics</li>
                <li>Emerging power electronics systems</li>
                <li>Renewable energy systems</li>
                <li>Sustainable energy technology and system</li>
                <li>IoT applications in renewable sector</li>
                <li>Control systems for renewable power energy systems</li>
                <li>Future challenges and directions for renewable energy systems</li>
                <li>Electrical Vehicles</li>
              </ul>
                
        </div>


        <br>
        <button type="button" class="collapsible">Track 3: Computational Intelligence</button>
        <div class="content">
            <p style="font-size: 20px;">Topics of interest include, but are not limited to, the following:</p>
            <ul>
                <li>Evolutionary Computing</li>
                <li>Machine Learning</li>
                <li>Deep Learning</li>
                <li>Natural Language Processing</li>
                <li>Adaptive Automation in Engineering using Intelligence</li>
                <li>Cyber Intelligence</li>
                <li>High Performance Computing</li>
                <li>Data Science</li>
                <li>AI and Applications</li>
                <li>Embedded systems for Computing Intelligence</li>
              </ul>
              
                
        </div>


        <br>
        <button type="button" class="collapsible">Track 4: Communication</button>
        <div class="content">
            <p style="font-size: 20px;">Topics of interest include, but are not limited to, the following:</p>
            <ul>
                <li>RF and Microwave engineering</li>
                <li>Cognitive Radio</li>
                <li>MIMO Communication</li>
                <li>Antennas</li>
                <li>Wireless and Mobile Networking</li>
                <li>Mobile Computing Systems</li>
                <li>Multimedia Communication</li>
                <li>RFID Technology and Applications</li>
                <li>Wireless Sensor Networks</li>
                <li>Communication Software and Services</li>
              </ul>
              
                
        </div>


        <br>
        <button type="button" class="collapsible">Track 5: Signal and Image Processing</button>
        <div class="content">
            <p style="font-size: 20px;">Topics of interest include, but are not limited to, the following:</p>
            <ul>
                <li>Audio and Video Signal Processing</li>
                <li>Speech Processing</li>
                <li>Biomedical Signal Processing</li>
                <li>Image coding and Compression</li>
                <li>Adaptive Signal Processing</li>
                <li>Signal Processing Algorithms and Implementation</li>
                <li>Computer Vision</li>
                <li>Applications</li>
              </ul>
              
                
        </div>


        <br>
        <button type="button" class="collapsible">Track 6: Networking and Security</button>
       <div class="content">
            <p style="font-size: 20px;">Topics of interest include, but are not limited to, the following:</p>
            <ul>
                <li>Cyber-Physical Security</li>
                <li>Viruses and Malware</li>
                <li>Active Defense Systems</li>
                <li>Secure Cryptographic Protocols and Applications</li>
                <li>Steganography and Steganalysis</li>
                <li>Trusted Computing</li>
                <li>Watermarking and Digital Rights Management</li>
                <li>Rfid/Nfc Security</li>
                <li>Hardware Security</li>
                <li>Security Notions, Approaches, and Paradigms</li>
              </ul>
              
                
        </div>
        <br>

        <button type="button" class="collapsible">Track 7: Sustainable Engineering and Security</button>
        <div class="content">
             <p style="font-size: 20px;">Topics of interest include, but are not limited to, the following:</p>
             <ul>
        

                <li>  Solid and Hazardous waste management</li>
                <li>	Soil and Structural Engineering</li>
                <li>	Urban Development and Traffic Planning</li>
                <li>	Hydrology and Environmental Engineering</li>
                <li>  Smart and Sustainable Construction Practices</li>

               </ul>
               
                 
         </div>
         <br>
      



       
    </div>


</div>








<%- include("partials/footer") -%>