<%- include("partials/header") -%>

    <div class="content-home testimonial-card -grey content-box-holder">



        <div  id="about-college "  class="about-college content-holder1 " >
            <h2 class="text-center">About Conference</h2>
    
            <p style="margin: 15px;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore doloremque similique quasi earum eos corporis molestiae! Quos molestias distinctio omnis optio. Et, nemo dolor? Non deleniti illo eum, earum ipsum eius porro facere omnis error quia, doloremque perferendis? Rerum illum similique accusamus doloremque doloribus aperiam nihil omnis tenetur velit? Recusandae a maxime consequatur enim consectetur adipisci cum voluptatem harum delectus soluta at ab doloremque qui commodi, fugiat rem repellendus. Voluptatem, blanditiis a minima optio veniam recusandae nulla. Et inventore nihil sequi illum autem placeat molestiae at eligendi quas dolorum? Ducimus vero illum aliquid alias quas libero dolore dolores omnis, id laborum modi ea sequi ipsa dolor perspiciatis maiores culpa sint voluptatibus doloribus error tempore quidem sapiente quo minima. Placeat corrupti odio debitis eaque blanditiis sint perspiciatis hic quisquam voluptatum molestiae! Facere aut culpa reprehenderit temporibus! Eaque itaque commodi cum quos asperiores unde eos ex aut excepturi, corrupti distinctio quis pariatur obcaecati veniam, consequuntur porro voluptas dignissimos. Quam dolor expedita incidunt impedit possimus, enim, omnis at laborum voluptas qui repellat explicabo ipsa voluptatibus molestias earum molestiae consequatur delectus distinctio odio corporis id. Provident, nulla molestias? Consequatur culpa quibusdam sequi! Facere necessitatibus culpa, at soluta fugit maiores enim, modi pariatur sit est ex neque commodi veniam ipsum voluptate quidem architecto, temporibus reprehenderit quod saepe consectetur cupiditate officiis? Nemo ducimus, alias nulla deleniti aut esse accusantium repellendus in adipisci officiis facilis earum officia quaerat dolore natus, modi eaque nostrum. Enim nam nisi possimus ut explicabo, commodi vitae amet cupiditate ratione laudantium error consectetur magnam aut officiis consequuntur. Debitis quae nemo nam accusantium ipsam, culpa odio sit, repellat at quia mollitia exercitationem! Corporis totam accusantium eius magni quasi beatae odio, nam fuga, nisi quia facere mollitia dignissimos et consectetur molestiae recusandae praesentium pariatur incidunt porro! Animi a eaque fugit autem consequatur repellendus, mollitia sapiente voluptatum quas necessitatibus blanditiis, delectus, commodi dolores quae assumenda. Minus aliquam enim odio qui necessitatibus iusto assumenda mollitia, aperiam minima amet! Nesciunt cupiditate esse quis nisi harum accusamus voluptate, veritatis minima similique, at non provident aperiam tenetur quisquam neque obcaecati odit vero error quae amet totam optio id sed. Tempora tenetur nisi debitis, at temporibus optio repellat laboriosam sed consectetur modi nobis blanditiis ea aliquam perferendis, esse soluta fugit molestias. Laborum culpa incidunt animi, vel porro iste adipisci nam numquam fuga ea aliquid autem perferendis minus dolorum atque nulla cum, deleniti provident optio! Aut accusamus voluptates similique et minima ipsa!
            </p>
            
        </div>



        <div
            style="background-color: #fdffff; height: 30rem; margin-top: 30px; border-radius: 150px;  box-shadow: 2px 2px 4px 2px 
            rgba(0, 0, 0, 0.2);">
            <br>
            <br>
            <p class="icons text-center" style="font-size: 5em;"><i class="fa-solid fa-people-group"></i>
            <h2 class="text-center" style="margin: 0;">Organised by </h2>

            <p style=" margin: 2% 10% 0 10%; font-size: 1.2em; " class="text-center">
                ENTc, Electrical and CSE departmens of N.B.navale Sinhgad College of Engineering Solapur
            </p>

        </div>

        
      
        <div  id="about-college "  class="about-college  content-holder1" >
            <h2 class="text-center">About Institute</h2>
            <img  class="img-responsive" style="margin-top: 10px; box-shadow: 2px 2px 4px 2px 
            rgba(0, 0, 0, 0.2);   width: 50em;" src="/images/college_image.jpg" alt="">
            <p style="margin: 15px;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore doloremque similique quasi earum eos corporis molestiae! Quos molestias distinctio omnis optio. Et, nemo dolor? Non deleniti illo eum, earum ipsum eius porro facere omnis error quia, doloremque perferendis? Rerum illum similique accusamus doloremque doloribus aperiam nihil omnis tenetur velit? Recusandae a maxime consequatur enim consectetur adipisci cum voluptatem harum delectus soluta at ab doloremque qui commodi, fugiat rem repellendus. Voluptatem, blanditiis a minima optio veniam recusandae nulla. Et inventore nihil sequi illum autem placeat molestiae at eligendi quas dolorum? Ducimus vero illum aliquid alias quas libero dolore dolores omnis, id laborum modi ea sequi ipsa dolor perspiciatis maiores culpa sint voluptatibus doloribus error tempore quidem sapiente quo minima. Placeat corrupti odio debitis eaque blanditiis sint perspiciatis hic quisquam voluptatum molestiae! Facere aut culpa reprehenderit temporibus! Eaque itaque commodi cum quos asperiores unde eos ex aut excepturi, corrupti distinctio quis pariatur obcaecati veniam, consequuntur porro voluptas dignissimos. Quam dolor expedita incidunt impedit possimus, enim, omnis at laborum voluptas qui repellat explicabo ipsa voluptatibus molestias earum molestiae consequatur delectus distinctio odio corporis id. Provident, nulla molestias? Consequatur culpa quibusdam sequi! Facere necessitatibus culpa, at soluta fugit maiores enim, modi pariatur sit est ex neque commodi veniam ipsum voluptate quidem architecto, temporibus reprehenderit quod saepe consectetur cupiditate officiis? Nemo ducimus, alias nulla deleniti aut esse accusantium repellendus in adipisci officiis facilis earum officia quaerat dolore natus, modi eaque nostrum. Enim nam nisi possimus ut explicabo, commodi vitae amet cupiditate ratione laudantium error consectetur magnam aut officiis consequuntur. Debitis quae nemo nam accusantium ipsam, culpa odio sit, repellat at quia mollitia exercitationem! Corporis totam accusantium eius magni quasi beatae odio, nam fuga, nisi quia facere mollitia dignissimos et consectetur molestiae recusandae praesentium pariatur incidunt porro! Animi a eaque fugit autem consequatur repellendus, mollitia sapiente voluptatum quas necessitatibus blanditiis, delectus, commodi dolores quae assumenda. Minus aliquam enim odio qui necessitatibus iusto assumenda mollitia, aperiam minima amet! Nesciunt cupiditate esse quis nisi harum accusamus voluptate, veritatis minima similique, at non provident aperiam tenetur quisquam neque obcaecati odit vero error quae amet totam optio id sed. Tempora tenetur nisi debitis, at temporibus optio repellat laboriosam sed consectetur modi nobis blanditiis ea aliquam perferendis, esse soluta fugit molestias. Laborum culpa incidunt animi, vel porro iste adipisci nam numquam fuga ea aliquid autem perferendis minus dolorum atque nulla cum, deleniti provident optio! Aut accusamus voluptates similique et minima ipsa!
            </p>




        </div>


        <div class="about_departments">

        </div>



    </div>





    <%- include("partials/footer") -%>