<%- include("partials/header") -%>

    <div class="content-home testimonial-card -grey content-box-holder">



        <div id="about-college " class="about-college content-holder1 back-white ">
            <h2 class="text-center" style="margin-top: 5px;">About Conference</h2>

            <p style="margin:  10px 50px;">
                The scope of emerging trends on automation, communication, and security conference is to provide a
                platform for researchers, industry experts, and academics to share their latest findings and insights on
                new and emerging trends in these fields. The conference aims to explore the impact of these trends on
                various industries, as well as their potential implications for the future.
                The goal of the conference is to bring together a diverse range of perspectives and expertise to
                facilitate discussion and collaboration on the following topics:
              
                <br>
                <br>

            <h4 style="color: rgb(27, 27, 67); font-weight:bold; ">1.Automation</h4>
            <p style="margin:  10px 50px;"> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; The conference could focus on emerging
                trends in
                automation, including the use of robotics, artificial intelligence, and machine learning in various
                industries. It could also explore the potential impact of automation on the workforce, as well as the
                ethical and legal implications of increasing automation.</p>

            <br>
            <br>
            <br>

            <h4 style="color: rgb(27, 27, 67); font-weight:bold; ">2.Communication</h4>
            <p style="margin:  10px 50px;"> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; The conference could discuss emerging
                trends in communication technologies, such as the growth of 5G networks, the Internet of Things (IoT),
                and wireless power transmission. It could also explore the potential applications of these technologies,
                as well as the challenges associated with implementing and securing them.</p>


            <br>
            <br>
            <br>

            <h4 style="color: rgb(27, 27, 67); font-weight:bold; ">3.Security:</h4>
            <p style="margin:  10px 50px;"> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; The conference could cover emerging
                trends in cybersecurity, including the use of blockchain technology, artificial intelligence, and
                machine learning to improve security measures. It could also explore new approaches to physical
                security, such as the use of biometric identification systems and advanced surveillance technologies.
            </p>

            <br>

            <p style="margin:  10px 50px;"> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; By bringing together experts from
                different fields and perspectives, the conference aims to foster new ideas, collaborations, and
                partnerships that can help drive innovation and progress in these important areas</p>

            </p>

        </div>


        <div id="about-college " class="about-college content-holder1 back-white " style="border-radius: 50px; margin-top: 30px;">
            <br>
            <br>
            <p class="icons text-center" style="font-size: 5em;"><i class="fa-solid fa-people-group"></i>
            <h2 class="text-center" style="margin: 0;">Organised by </h2>

            <div class="organiser">




                <div style="margin:  10px 50px;">
                    <p class="text-center">Department of Electronics and Telecommunication Engineering</p>
                    <p class="text-center">Department of Electrical Engineering </p>
                    <p class="text-center">Department of Computer Science and Engineering</p>
                    <p style="color: rgb(27, 27, 67); font-weight:bold; font-size: 1.7em; ">N B Navale Sinhgad College
                        of Engineering, Kegaon-Solapur</p>
                    <p class="text-center">Kegaon-Solapur-413255</p>
                </div>



                <p style=" margin: 10px 50px; font-size: 1.2em; " class="text-center">

                </p>


            </div>

        </div>




        <div id="about-college " class="about-college content-holder1 back-white " style="border-radius: 50px; margin-top: 30px;">
            <br>
            
            <img  class="img-responsive" style="margin-top: 5px; box-shadow: 2px 2px 4px 2px 
            rgba(0, 0, 0, 0.2);   width: 90%; border-radius: 50px;" src="/images/college_image.jpg" alt="">
            
            <br>

        </div>



    </div>





    <%- include("partials/footer") -%>