<%- include("partials/header") -%>

    <div class="content-home testimonial-card -grey content-box-holder">

        <div id="about-college " class="about-college content-holder1 back-white " style="border-radius: 35px; margin-top: 30px; margin-bottom: 10px;">
            <br>
            
            <img  class="img-responsive" style=" width: 95%; border-radius: 5px;" src="/images/college-new.jpg" alt="">
            
            <br>

            <h5 align="left" class="mar" >Sinhgad Institutes | Empowering Academic Excellence</h5>

            <p>

                13 best Campuses, 12 Disciplines of Education, 110 institutes and colleges in Pune and Maharashtra, 10000+ experienced Teaching and Non-Teaching members make Sinhgad Institutes Pune serve as a groundbreaking platform which in turn facilitates students to evolve as a successful individuals in today's highly volatile and competitive world. Currently, 50000+ students are evolving under the umbrella of Sinhgad Institutes. Educational environments of the Sinhgad Institutes breaks the boundaries of the books and allow pupils to employ their knowledge in real world scenario.</p>
                <br>

                <h5 class="mar">Welcome to ICETACS -2023 !</h5>
                <br>
                <h2 class="mar">International Conference on Emerging Trends in</h2>
                 <h2 class="mar"> Automation, Communication And Security </h2>
                <p>will take place in</p>
                <h5 class="mar">N B Navale Sinhgad College of Engineering,  Solapur</h5>
                <h5 class="mar">July 20th to  21st,  2023.</h5>
                <br>
                <p>Conference is organised by the</p>
                <br>
                <p> Department of Electronics and Telecommunication Engineering, Computer Science Engineering & Electrical Engineering,  N B Navale Sinhgad College of Engineering Solapur-413255 (MS)India.</p>
                <br>
                <h5 class="mar">Conference program scope and goals</h5>
                <br>
                <p>
                    The scope of conference is to provide a platform for researchers industry experts, and academics to share their latest findings and insights on new and emerging trends in these fields. The conference aim to explore the impact of these trends on various industries, as well as their potential implications for the future.</p>

 <p> The goal of conference is to bring together a diverse range of perspectives and expertise to facilitate discussion and collaboration on Automation, Communication and Security field </p>

<p> A special volume with selected contributions devoted to the topics of the conference will be published with an international publisher.</p> 


 <p> The conference will also provide earlier stage researchers with opportunities to learn from the subject experts, to present their research as well as to establish valuable research contacts and collaboration in India and internationally important for their future.

                </p>

                <br>
                <br>
               
        </div>

    


        <div id="about-college " class="about-college content-holder1 back-white " style="border-radius: 50px; margin-top: 30px;">
            <br>
            <br>
            <p class="icons text-center" style="font-size: 5em;"><i class="fa-solid fa-people-group"></i>
            <h2 class="text-center" style="margin: 0;">Organised by </h2>

            <div class="organiser">




                <div style="margin:  10px 30px;">
                    <p class="text-center">Department of Electronics and Telecommunication Engineering,</p>
                    <p class="text-center">Department of Electrical Engineering ,</p>
                    <p class="text-center">Department of Computer Science and Engineering,</p>
                    <p style="color: rgb(27, 27, 67); font-weight:bold; font-size: 1.7em; " class="text-center">N B Navale Sinhgad College
                        of Engineering, Kegaon-Solapur</p>
                    <p class="text-center">Kegaon-Solapur-413255</p>
                </div>



                <p style=" margin: 10px 50px; font-size: 1.2em; " class="text-center">

                </p>


            </div>

        </div>




        <!-- <div id="about-college " class="about-college content-holder1 back-white " style="border-radius: 50px; margin-top: 30px;">
            <br>
            
            <img  class="img-responsive" style="margin-top: 5px; box-shadow: 2px 2px 4px 2px 
            rgba(0, 0, 0, 0.2);   width: 90%; border-radius: 50px;" src="/images/college_image.jpg" alt="">
            
            <br>

        </div> -->

    </div>





    <%- include("partials/footer") -%>