<%- include("partials/header") -%>

<div class="map content-box-holder ">
    <h2 class="text-center"> How to reach</h2>

    <iframe class="text-center" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12783.271450653487!2d75.85643260465632!3d17.721575153088697!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc5ce2c121bcd03%3A0x3e8eb2b16d919b07!2sN.%20B.%20Navale%20Sinhgad%20College%20of%20Engineering%20Solapur!5e0!3m2!1sen!2sin!4v1677428468422!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>





<%- include("partials/footer") -%>