<%- include("partials/head2") -%>


<div class="content-box-holder">

    <div>
        <h2 class="text-center"> Important Dates</h2>
    </div>

    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <h1>Conference Dates</h1> -->
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
       
        
        <section>
            <!-- <h2>Important Dates</h2> -->
            <table>
                <tr>
                    <td>Start of Submission of abstracts</td>
                    <td>January 1st, 2023</td>
                </tr>
                <tr>
                    <td>Last of Submission of abstracts</td>
                    <td>January 1st, 2023</td>
                </tr>
                <tr>
                    <td>Notification of acceptance for Presentation</td>
                    <td>December 30th, 2021</td>
                </tr>
                <tr>
                    <td>Submission of full papers(Through Easy Chair)</td>
                    <td>February 15th, 2022</td>
                </tr>

             <hr>
               
                <tr>
                    <td>Registration</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Early bird</td>
                    <td>March 30th, 2022</td>
                </tr>
                <tr>
                    <td>Last day</td>
                    <td>June 30th, 2022</td>
                </tr>
            </table>
        </section>
    
    </body>
    </html>
    


</div>







<%- include("partials/footer") -%>