<%- include("partials/head2") -%>

<style>
    table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #ddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #3a4559;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    @media screen and (max-width: 600px) {
       
    }
</style>



<div class="content-home testimonial-card -grey content-box-holder">

    <div id="about-college " class="about-college content-holder1 back-white " style="margin: 3%;">

    <h2 class="text-center">Important Dates</h2><br>
       
        
        <section>
            <!-- <h2>Important Dates</h2> -->
            <div class="table-responsive">
                <table class="table">
                  
                    <table>
                        <thead>
                            <tr>
                                <th>Event</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Last Date of Submission</td>
                                <td>June 15th, 2023</td>
                            </tr>
                            <tr>
                                <td>Notification of acceptance</td>
                                <td>June 25th, 2023</td>
                            </tr>
                            <tr>
                                <td>Camera Ready Paper Submission</td>
                                <td>July 5th, 2023</td>
                            </tr>
                            <tr>
                                <td>Conference Dates</td>
                                <td>20th &amp; 21st July 2023</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </section>
    
  </div>
  </div>
    


</div>







<%- include("partials/footer") -%>