<%- include("partials/head2") -%>



<div class="content-home testimonial-card -grey content-box-holder">

    <div id="about-college " class="about-college content-holder1 back-white " style="margin: 3%;">

    <h2 class="text-center">Important Dates</h2><br>
       
        
        <section>
            <!-- <h2>Important Dates</h2> -->
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Event</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Last Date of Submission</td>
                            <td>june 15th, 2023</td>
                        </tr>
                        <tr>
                            <td>Notification of acceptance</td>
                            <td>June 25th, 2023</td>
                        </tr>
                        <tr>
                            <td>Camera Ready Paper Submission</td>
                            <td>July 5th, 2023</td>
                        </tr>
                        <tr>
                            <td>Conference Dates</td>
                            <td>20th &amp; 21st July 2023</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    
  </div>
  </div>
    


</div>







<%- include("partials/footer") -%>