<%- include("partials/header") -%>

<div class="contact-body" style="background-color: white; box-shadow: 0 2px 5px rgba(0,0,0,0.2); width: 100%; border-radius: 5px;">

    <h2 class="text-center">Publications</h2>
    <br>

    <div class="text" style="margin: 5px; display: flex; align-items: center; justify-content: center;">
    <b><p> Selected papers from publisher will be published in ISSN and doi indexed /UGC Care/ Scopus index Journal. But they have to pay additional charges as per rules of publisher after accepting paper.</p></b>
    <br><br><br>
</div>


    
    </div> 

    <%- include("partials/footer") -%>