<%- include("partials/header") -%>

<div class="content-home testimonial-card -grey content-box-holder">

    <div id="about-college " class="about-college content-holder1 back-white " style="margin: 3%;">

    <h2 class="text-center">Registration Details</h2>
    <br>

    <p class="para">It is mandatory to register by <strong>at least one author</strong> after acceptance of the paper. The author has to present it in oral session <strong> (online/offline) </strong> during conference to appear in the proceeding entitled <strong> Emerging Trends in Automation, Communication and Security </strong>.</p>


    <br>


    <div class="table">


    <table class="registration-table">
        <thead>
          <tr>
            <th>Delegate Type</th>
            <th>Indian (INR)</th>
            <th>Foreign ($)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Industry</td>
            <td>8500</td>
            <td>250</td>
          </tr>
          <tr>
            <td>Scientist/Academia</td>
            <td>6500</td>
            <td>125</td>
          </tr>
          <tr>
            <td>Research Scholars</td>
            <td>6000</td>
            <td>115</td>
          </tr>
          <tr>
            <td>Students (UG/PG)</td>
            <td>5500</td>
            <td>110</td>
          </tr>
          <tr>
            <td>Attendees</td>
            <td>600</td>
            <td>50</td>
          </tr>
        </tbody>
      </table>


    </div>


    <div class="payment-mode">
        <h3>Payment Mode</h3>
        <li>For Payment of Registration Fees</li>
        <ol>
          <li>NAME OF ACCOUNT HOLDER: N B NAVALE SINHGAD COLLEGE OF ENGINEERING, KEGAON, SOLAPUR</li>
          <li>NAME OF BANK:   AXIS BANK LTD.</li>
          <li>NAME OF BRANCH:   HOTGI ROAD SOLAPUR (1043)</li>
          <li>ACCOUNT NO:   916010038065803</li>
          <li>IFS CODE : UTIB0001043</li>
        </ol>
      </div>
      
      





    </div>
</div>



<%- include("partials/footer") -%>