<%- include("partials/header") -%>

<div>
    <h2 class="text-center"> About Solapur</h2>
</div>

<div class="about-solapur" style="  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); margin: 5% 10%;">
    <p class="text-center" style="margin: 3% 15%;">
        Solapur is a city located in the state of Maharashtra, India. It is the administrative headquarters of Solapur district and is situated on the banks of the Sina River. Solapur has a rich cultural and historical heritage, with evidence of human settlement in the region dating back to the Stone Age.

The city is known for its textile industry, with a large number of cotton mills and textile factories. It is also a major center for the production of beedi, a type of Indian cigarette. Solapur is home to a number of temples and religious sites, including the famous Siddheshwar Temple, which is dedicated to Lord Shiva.

Solapur has a semi-arid climate, with hot summers and cool winters. The city is well-connected to other parts of Maharashtra and neighboring states by road, rail, and air. It has a number of educational institutions, including several engineering and medical colleges, as well as a state university.
    </p>
</div>





<%- include("partials/footer") -%>