
<%- include("partials/header") -%>
<style>
    .visa{
        width: 50%;
        height: 50%;
        background-color: rgb(216, 215, 223);
        border-radius: 20px;

    }

    img{
        width: 70%;
    }

 
</style>
<div class="contact-body" style="background-color: white; box-shadow: 0 2px 5px rgba(0,0,0,0.2); width: 100%; border-radius: 5px;">

    <h2 class="text-center">VISA</h2>
    <br><br>

   <center> <div class="visa">
    <br><br><br>

        <a href="https://indianvisaonline.gov.in/" target="_blank">Click here for applying to Visa for India</a>
        <a href="https://indianvisaonline.gov.in/"> <img  class="img-responsive" style="margin: 5px;     border-radius: 30px;" src="/images/visa.png" alt="">

    </a>


    </div>  </center>
    <br><br>

   

    

    
    
    
    
    </div> 

    <%- include("partials/footer") -%>